@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

h1{
    font-size: 2rem;
}

p{
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 1.3rem;
    text-align: justify;
}

.ftic{
    width: 30%;
    margin-left: 35%;
}

.assinatura{
    font-family: 'Dancing Script', cursive;
    width: 90%;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}

.contfot{
    /* border: solid blue 3px; */
    margin-top: 1.5rem;
    width: 700px;
}

.contfot img{
    width: 20%;
    border-radius: 0.5rem;
}
.assinatura2{
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    width: 90%;
    text-align: center;
}