.carouseltudo2 {
    display: flex;
    text-align: center;
    width: 45rem;
    margin-top: 2rem;
    /* border: solid blue 2px; */
    /* max-width: 80%; */
   
}

.carouseltudo2 img {
    
    /* border: 2px solid red; */
        width: 70%;
    border-radius: 10px;
        box-shadow: 5px 50px 40px rgba(0, 0, 0, 0.055);
    box-shadow: 10px 25px 20px rgba(90, 67, 42, 0.474);
}