.barrapes {
    width: 33rem;
    margin-left: 6rem;
}

.botPesq {
    width: 6.8rem;
    color: #888683;
    background: #f1f1f110;
    border: none;
    font-weight: 600;
    transition: .2s;
}

.botPesq:hover{
    color: #DEB887;
    transition: .2s;
}

.tamm {
    /* border: solid red 2px; */
    width: 1.3rem;
    margin-left: .5rem;

}

.pesqGeral {
    /* border: green solid 3px; */
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    gap: 36px;
}